{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="container-fluid text-center container-title">
            <h3>Você está no módulo de cadastro de fornecedores!</h3>
        </div>
        <div class="container-fluid text-center container-body">
            <h4>Neste módulo você terá muito mais facilidade para controlar quem fornece os produtos que chegam até você!</h4>
            <p>O que você deseja fazer agora?</p>
            <a href="{% url 'novo_fornecedor' %}" class="btn btn-secondary btn-lg" style="background-color: blue;"><i class="bi bi-plus-lg"></i> Cadastrar novo fornecedor</a>
            <a href="{% url 'listar_fornecedores' %}" class="btn btn-secondary btn-lg" style="background-color: blue;"><i class="bi bi-card-list"></i> Lista de fornecedores</a>
        </div>
    </div>

{% endblock %}